#experience {
  background-image: url("../../img/Elaina_Wallpaper_LI.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#page {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  height: 100vh;
}

#pagetext {
  font-family: "Kaushan Script", cursive;
  display: grid;
  justify-content: center;
}

#pageimg {
  display: grid;
  grid-template-columns: repeat(auto-fill, 375px);
  row-gap: 20px;
  justify-content: center;
}

#pageimg img {
  height: 150px;
  min-width: 200px;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  .img-4,
  .img-5,
  .img-6,
  .img-7,
  .img-8,
  .img-9 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .img-7,
  .img-8,
  .img-9 {
    display: none;
  }
}
