:root {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #000;
  font-family: "Roboto", sans-serif;
}
